.Rhistory
.RData
.Rproj.user/
__pycache__/
tmp/
src/data/raw/rtci_pre_processed.csv
src/data/raw/rtci_city_coords.csv
src/data/model/
src/data/app/*.csv
paper_files/
*_cache/
*.log
*.aux
*.toc
*.out

/.quarto/
